/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  color: #fff;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  font-weight: 600;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
  font-size: 15px;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #dff4ff;
}

/* Dashboard Layout */
.dashboard {
  width: 450px;
  padding: 25px;
}
